body {
     box-sizing: border-box;
     background-color: rgba(31, 194, 172, 0.589);
}

.contenedor {
     max-width: 1000px;
     margin: 0 auto;
}

h2 {
     flex: 0 1 100%;
     text-align: center;
     font-size: 1.8rem;
}
h3 {
     font-family: 'Libre Baskerville', serif;
     font-weight: 700;
     margin:0;
}
img {
     max-width: 100%;
}

@media screen and  (min-width: 480px) {
     .contenido-principal {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
     }
     .entrada{
          flex: 0 1 calc( 50% - 1rem) ;
     }
}

@media screen and  (min-width: 768px) {
     .entrada{
          flex: 0 1 calc( 33% - 1rem) ;
     }
}
.entrada{
     margin-bottom: 1rem;
}
.contenido {
     background-color: white;
     text-align: center;
     padding: 1rem;
     text-transform: uppercase;
}
.contenido span {
     color: #db00db;
}
.contenido h3{
     font-size: 1rem;
     line-height: 1.4rem;
}
.boton {
     background-color: #008fd1;
     color: white;
     padding: .6rem 2rem;
     margin-top: 1rem;
     display: block;
     text-decoration: none;
}